.navbar {
  padding: 1.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(240, 255, 255, 0.342);
  backdrop-filter: blur(10px);
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  border: 1px solid tomato;
  font-size: 16px;
  padding: 8px 24px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.navbar button:hover {
  background-color: tomato;
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
  /*underline feature for list */
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background-color: tomato;
  border-radius: 50%;
  top: -8px;
  right: -8px;
  padding: 0px 5px;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {

  .navbar{
    padding: 1rem 2rem;
  }

  .navbar .logo {
    width: 100px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {

   .navbar{
    padding: .5rem 2rem;
  }

  .navbar-menu {
    display: none;
  }

    .navbar .logo {
    width: 70px;
  }
}
